// Animations for Vue components
// https://vuejs.org/v2/guide/transitions.html

.list-animated-enter-active, .list-animated-leave-active, .list-animated-move {
  transition: all 0.75s;
}
.list-animated-enter {
  opacity: 0;
  transform: translateX(-800px);
}
.list-animated-leave-active {
  position: absolute !important;
}
.list-animated-leave-to {
  opacity: 0;
  transform: translateX(800px);
}