/* Shadows */
$card-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$card-shadow-light: 0 1px 4px 0 rgba(0,0,0,0.14);


/* Loading gears animation */
.gear {
  position: relative;
  margin: 100px auto;
  width: 200px;
  height: 200px;
  background: #eee;
  border-radius: 50%;
  box-shadow: inset 0 0 7px #aaa;
}
.gear:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  top: 50px;
  left: 40px;
  border-radius: 50%;
  background-image:
          radial-gradient(at center center, #eee 23%, #1ca 25%, #1ca 57%, transparent 59%),
          linear-gradient(0deg, transparent 40%, #1ca 40%, #1ca 60%, transparent 60%),
          linear-gradient(45deg, transparent 43%, #1ca 43%, #1ca 57%, transparent 57%),
          linear-gradient(90deg, transparent 40%, #1ca 40%, #1ca 60%, transparent 60%),
          linear-gradient(135deg, transparent 43%, #1ca 43%, #1ca 57%, transparent 57%);
  animation:rotates 4s infinite linear;
}
.gear:after {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  top: 95px;
  left: 103px;
  border-radius: 50%;
  background-image:
          radial-gradient(at center center, #eee 23%, #f35 25%, #f35 57%, transparent 59%),
          linear-gradient(0deg, transparent 40%, #f35 40%, #f35 60%, transparent 60%),
          linear-gradient(45deg, transparent 43%, #f35 43%, #f35 57%, transparent 57%),
          linear-gradient(90deg, transparent 40%, #f35 40%, #f35 60%, transparent 60%),
          linear-gradient(135deg, transparent 43%, #f35 43%, #f35 57%, transparent 57%);
  animation:rotateb 4s infinite linear;
}

@keyframes rotates {
  from{transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}
@keyframes rotateb {
  from{transform:rotate(0deg);}
  to{transform:rotate(-360deg);}
}
