/* Shadows */
$card-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$card-shadow-light: 0 1px 4px 0 rgba(0,0,0,0.14);


/* Colors */
$font-color-primary: #212529;
$font-color-secondary: #737373;
